<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bar.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @bar.password %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
